################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/exe
/network/.vs/NetworkLib/v16
/x64/Debug/NetTest.pdb
