################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/network/.vs/NetworkLib/v16
/exe/debug/bin
/exe/release/bin
/exe/debug/*.pdb
/exe/debug/*.cso
/exe/debug/*.exe
/exe/debug/*.lib
/x64/Debug/NetTest.pdb
/exe/debug/network_d.idb
/exe/debug/minizip.dll
/exe/debug/poly2tri.dll
/exe/debug/pugixml.dll
/exe/debug/zlibd1.dll
/res/Mesh/Slide Hip Hop Dance.fbx
