################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/exe/debug/bin
/exe/debug/*.pdb
/exe/debug/*.cso
/exe/debug/*.exe
/exe/debug/*.lib
/exe/debug/*.idb
/exe/debug/Client
/exe/debug/DX11GameEngine
/exe/debug/FbxConverter
/exe/release/bin
/exe/release/*.pdb
/exe/release/*.cso
/exe/release/*.exe
/exe/release/*.lib
/exe/release/*.idb
/exe/release/Client
/exe/release/DX11GameEngine
/exe/release/FbxConverter
extern/

/exe/debug/DX11EngineLib_d.idb
